*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.headerAnime {
    height: 5rem;
    position: fixed;
    z-index: 999;
    background-color:#fff;
    top: 0;
    animation: anime 1s forwards;
}

.headerAnime ul li a {
    color: black;
    transition: color 0.3s ease-in-out; 
}


@keyframes anime {
    from {
        transform: translateY(-100px);
    }

    to {
        transition: 1s;
        transform: translateY(0);
    }
}


#carouselExampleSlidesOnly{
    z-index: 0;
    position: relative;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.overlay-content {
    display: flex;
    align-items: center;
}

#searchInput {
    width: 900px;
    padding: 15px;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    outline: none;
    margin-bottom: 20px;
}

.search-icon {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* Style for close button */
#btnClose {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

#btnSearch {
    cursor: pointer;
}



.dropdownLang {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100px;
    z-index: 1;
}

.dropdownLang li {
    padding: 10px;
    cursor: pointer;
}

.dropdownLang li:hover {
    background-color: #eee;
}


.dropdownLang.show {
    display: block;
}




ul li {
    position: relative;
}
ul li a {
    color: white;
    font-size: 20px;
}


.dropdown {
    display:none;
    align-items: end;
    position: absolute;
    z-index: 4;
    bottom: -320px;
    width: 240px;
    height: 320px;
    /* background-color: #301717; */
}

ul .dropdown ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 240px;
    height: 290px;
    background-color: white;
    padding: 20px;
}
.pages:hover .dropdown {
    display: flex;
}

.dropdown ul li a {
    color: black;
}
.dropdown ul li {
    padding: 10px;
}


.section1{
    position: relative;
}
.section1-content {
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1;
    width: 700px;
    height: 358px;
}
.section1-content h1{
    line-height: 1.364;
    font-size: 62px;
    color: #ffffff;
}
.section1-content p {
    margin-top: 24px;
    font-size: 20px;
    letter-spacing: 2px;
    max-width: 500px;
    line-height: 1.55556;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.section1-content button {
    margin-top: 50px;
    padding: 14px 37px;
    font-size: 19px;
    line-height: 2;
    z-index: 1;
    color: #151515;
    background-color: #f8ea49;
    border-color: #f8ea49;
    border-radius: 6px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}


.btn-line {
    width: 30px;
    height: 2px;
    /* position: absolute; */
    background: rgb(190, 188, 188);
}
.visually {
    padding: 20px !important;
}
.visually:hover .btn-line {
    width: 20px;
    transition: 1s;
}


.header-top {
height: 112px;
width: 100%;
/* background-color: antiquewhite; */
display: flex;
justify-content: center;
align-items: center;
}
.carousel-control-next{
    width: 10rem;

}
.header-top-content {
    width: 80%;
    /* height: 100%; */
    /* background-color: aqua; */
    position: absolute;
    z-index: 999 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px solid rgba(255, 255, 255, 0.23); */
}
.header-bottom {
    height: 71.6px;
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
justify-content: center;
align-items: center;
}
.header-bottom-content {
    width: 80%;
    height: 100%;
    /* background-color: rgb(92, 144, 144); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
    border-top: 1px solid rgba(255, 255, 255, 0.23);
}
.phone-number {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #fff;
    gap: 1px;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons button {
    margin-left: 10px;
    margin-right: 10px;
    background: #ffffff;
    color: #151515;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    display: inline-block;
    width: 33px;
    height: 33px;
    padding: 5px;
    border-radius: 50%;
    border: none;
}
.icons i {
    font-size: 24px;
    color: #fff;
}
.header-bottom-content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 606px;
    height: 24px;
}
.header-bottom-content ul a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.carousel-control-prev span{
    left: 0;
    padding-right: 22px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    padding: 14px 12px 20px;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 600;
    letter-spacing: .05em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.22);
    transition: all .2s ease;
    transform: translate3d(0, -50%, 0);
    will-change: transform;
    cursor: pointer;
    z-index: 10;
}

.carousel-control-next span{
    right: 0;
    padding-left: 22px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    padding: 14px 12px 20px;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 600;
    letter-spacing: .05em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.22);
    transition: all .2s ease;
    transform: translate3d(0, -50%, 0);
    will-change: transform;
    cursor: pointer;
    z-index: 10;
}


.section2 {
    width: 100%;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eff3f8;
    background-image:url('https://livedemo00.template-help.com/wt_prod-22021/images/bg-index-1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2-content {
    width: 1250px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.content-left,.content-right{
    height: 400px;
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #1a293b; */
}
.left-top {
    width: 380px;
    height: 132px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.top-right h1 {
    font-weight: 700;
    font-size: 26px;
    font-family: "Comfortaa", cursive;
    color: #151515;
}
.top-right p {
    letter-spacing: .025em;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #777777;
    margin-top:15px ;
}
.line {
    border: 1px solid #dedede;;
}

.section3 {
    height: 404px;
    width: 100%;
    background-image: url('https://livedemo00.template-help.com/wt_prod-22021/images/parallax-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-content {
    width: 1200px;
    height: 194px;
}
.animated-first{
    font-size: 58px;
}
.col-sm-3{
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.counter-modern-decor {
    margin-top: 18px;
    text-align: center;
    width: 42px;
    border-bottom: 1px solid #ffffff;
    margin: auto;
}
.font-sec{
    margin-top: 24px;
    font-weight: 500;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: .075em;
    font-size: 18px;
    line-height: 1.55556;
    color: #ffffff;
}

.section4 {
    width: 100%;
    height:1091.51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sct4-container {
    width: 1200px;
    height: 941px;
}

.part-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.part1 {
    width: 570px;
    height: 673px;

}

.part2 {
    width: 600px;
    height: 336px;
}

.h2-divers {
    font-size: 44px;
    line-height: 1.09091;
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-family: "Comfortaa", cursive;
    letter-spacing: 0;
    color: #151515;
}

.part2-text {
    width: 570px;
    height: 89.6px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}

.icon1 {
    font-size: 20px;
        line-height: 42px;
        width: 42px;
        height: 42px;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        color: #0473db;
        box-shadow: 0 0 5px 0 rgba(1, 3, 4, 0.19);
        margin-right: 20px;
}

.part2-text2  {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #777777;
    z-index: 1;
   padding-left: 25px;
   
}

.cover-letter {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: .02em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #151515;
}

.section4 {
    width: 100%;
    height:1091.51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sct4-container {
    width: 1200px;
    height: 941px;
}

.part-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.part1 {
    width: 570px;
    height: 673px;

}

.part2 {
    width: 600px;
    height: 336px;
}

.h2-divers {
    font-size: 44px;
    line-height: 1.09091;
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-family: "Comfortaa", cursive;
    letter-spacing: 0;
    color: #151515;
}

.part2-text {
    width: 570px;
    height: 89.6px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}

.icon1 {
    font-size: 20px;
        line-height: 42px;
        width: 42px;
        height: 42px;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        color: #0473db;
        box-shadow: 0 0 5px 0 rgba(1, 3, 4, 0.19);
        margin-right: 20px;
}

.part2-text2  {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #777777;
    z-index: 1;
   padding-left: 25px;
   
}

.cover-letter {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: .02em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #151515;
}

.section5{
    height: 593px;
    width: 100%;
    background-color: #eff3f8;
}
.section5-content {
    height: 384px;
    width: 1200px;
    background-color: #777777;
}


.section6{
    height: 1140px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section6-content{
    height: 936px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section6 h1 {
    height: 48px;
    width: 100%;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    font-family: "Comfortaa", cursive;
    letter-spacing: 0;
    color: #151515;
}
.gallery-imgs{
    height: 840px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.imgs-left,.imgs-right{
    height: 810px;
    width: 570px;
}
.imgs-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-top {
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: space-between;
}
.left-bottom {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url("https://livedemo00.template-help.com/wt_prod-22021/images/masonry-gallery-7-570x250.jpg");
}

.left-bottom:hover .cover-hover{
    display:flex !important;
    opacity: 0.9;
}

.top1,.top2 {
    height: 530px;
    width: 270px;
}
.top2{
    position: relative;
    background-image: url("https://livedemo00.template-help.com/wt_prod-22021/images/masonry-gallery-2-270x530.jpg");
}
.top2-cover{
    display:none !important;
    width: 100%;
    height: 100%;
    background-color:#fff;
    transition: opacity 0.5s ease;
    position: absolute;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
}
.top2:hover .top2-cover{
    display:flex !important;
    opacity: 0.9;
}

.top1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top1-1, .top1-2 {
    width: 270px;
    height: 250px;
}

.top1-1{
    position: relative;
    background-image: url("https://livedemo00.template-help.com/wt_prod-22021/images/masonry-gallery-1-270x250.jpg");
}

.cover-hover{
    display:none !important;
    width: 100%;
    height: 100%;
    background-color:#fff;
    transition: opacity 0.5s ease;
    position: absolute;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.top1-1:hover .cover-hover{
    display: flex !important;
    opacity: 0.9;
}

.top1-2{
    position: relative;
    background-image: url("	https://livedemo00.template-help.com/wt_prod-22021/images/masonry-gallery-5-270x250.jpg");
}

.top1-2:hover .cover-hover{
    display: flex !important;
    opacity: 0.9; 
}
.imgs-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-top{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.right-bottom{
    position: relative;
    height: 530px;
    width: 100%;
    background-image: url("https://livedemo00.template-help.com/wt_prod-22021/images/masonry-gallery-6-570x530.jpg");
}
.right-bottom:hover .cover-hover{
    display: flex !important;
    opacity: 0.9; 
    transform: translate(90deg);
}

.top-left1, .top-left2 {
    height: 250px;
    width: 270px;
}

.top-left1{
    position: relative;
    background-image: url('	https://livedemo00.template-help.com/wt_prod-22021/images/masonry-gallery-3-270x250.jpg');
}
.top-left1:hover .cover-hover{
    display: flex !important;
    opacity: 0.9; 
}
.top-left2{
    position: relative;
    background-image: url("https://livedemo00.template-help.com/wt_prod-22021/images/masonry-gallery-4-270x250.jpg");
}

.top-left2:hover .cover-hover{
    display: flex !important;
    opacity: 0.9; 
}


footer {
    background-color: #2a333f;
    color: #fff;
    padding: 40px 0;
    width: 100%;
    height: 556px;
    background: #2a333f;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-family: "Comfortaa", cursive;
}

.gallery-images img {
    margin: 5px;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

ul {
    padding-left: 0;
    list-style: none;
    width: 299px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}




.quick-links ul li {
    position: relative;
    list-style: none; 
}

.quick-links ul li a {
    position: relative; 
    text-decoration: none; 
    color: white; 
}

.quick-links ul li a::before {
    content: '';
    width: 20px;  
    height: 3px;
    background: rgba(255, 255, 255, 0.2); 
    position: absolute;
    bottom: 7px;
    left: -33px;
    transition: width 0.3s ease; 
}

.quick-links ul li a:hover::before {
    width: 30px; 
}

.quick-links ul li a:hover {
    transform: translateX(40px); /* Moves text 10px to the right on hover */
}

footer ul li {
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}


.contact p {
    margin: 10px 0;
}
.lists-left li a:hover{
    color: #0473db;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
}

.social-icons{
    margin-top: 25px;
}

.social-icons a i:hover {
    color: #0473db;
    border-color: #0473db !important;
    transition: 1s;
}


.loading-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1); 
    border-left-color: #3498db; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear; 
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
